<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Upload</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h2>Inventory New Product</h2>
        <form id='form' action='https://apnay-rung-api.herokuapp.com/inventory/new' method="post" enctype="multipart/form-data">
            <input type="text" name="title" id="title" placeholder="title">
            <input type="text" name="description" id="description" placeholder="description"><br>
            <input type="text" name="category" placeholder="category">
            <input type="number" name="price" placeholder="price"><br>
            <input type="number" name="stock" placeholder="stock">
            
            <input type="file" name="image" id='image'/><br>
            <input type="submit">
        </form>
        
        
        

        <h2>Inventory Product Image Update</h2>
        <form id='form3' action='https://apnay-rung-api.herokuapp.com/seller/update/profile_picture' method="post" enctype="multipart/form-data">
            <input type="file" name="profile_picture">
            <input type="submit">
        </form>

        <h2>Sign Up User</h2>
        <form id='form2' action='https://apnay-rung-api.herokuapp.com/seller/new' method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="text" name="phone" placeholder="phone">
            <input type="text" name="location" placeholder="location">
            <input type="text" name="sec_questions" placeholder="sec_questions">
            <input type="file" name="cnic_image">
            <input type="submit">
        </form>

        <script src='test.js'>
        </script>
    </body>
</html>