<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Upload</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

        <form id='form' action='http://localhost:3000/seller/new' method="post" enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="name">
            <input type="email" name="email" id="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password">
            <input type="text" name="location" placeholder="location"><br>
            <input type="text" name="cnic" placeholder="cnic">
            
            <input type="text" name="sec_question1" placeholder="secret question1">
            <input type="text" name="sec_question2" placeholder="secret question2"><br>
            <input type="submit">
        </form>
        <input type="file" name="cnic_image" id='fileinput'/><br>

        
        
        <script>
            //const input = document.getElementById('fileinput');
            const form = document.getElementById('form')
            const fileinput = document.getElementById('fileinput').files[0]

            // Add a listener on your input
            // It will be triggered when a file will be selected
            form.addEventListener('submit',(event)=>{

                event.preventDefault()

                var formData = new FormData(form)


                formData.append('cnic_image',fileinput,'x.png')

                fetch('http://localhost:3000/seller/new',
                { // Your POST endpoint
                    method: 'POST',
                    body: formData
                })
                .then(
                    response => {
                        if (response.status==201) {
                            console.log(response)
                        }
                    }
                ).catch(
                    error => console.log(error) // Handle the error response object
                )
            });













            function myFunction() {

                fetch('https://apnay-rung-api.herokuapp.com/order/review/item/2',{
                    method:'GET',
                    withCredentials:false
                })
                .then(async (response) =>{
                    const res = await response.json()
                    console.log(res)
                }).catch(err=>{
                    console.log(err)
                })
            }

        </script>

        <!--<button type="button" onClick="myFunction()">Login</button>-->
    </body>
</html>