<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Upload</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

        <form id='form' action='http://localhost:3000/seller/new' method="post" enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="name">
            <input type="email" name="email" id="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password">
            <input type="text" name="location" placeholder="location"><br>
            <input type="text" name="cnic" placeholder="cnic">
            <input type="file" name="cnic_image" id='fileinput'/>
            <input type="text" name="sec_questions" placeholder="secret questions"><br>
            <input type="submit">
        </form>

        <button type="button" onClick="myFunction">
        
        <script>
            //const input = document.getElementById('fileinput');
            const form = document.getElementById('form')
            

            // Add a listener on your input
            // It will be triggered when a file will be selected
            form.addEventListener('submit',(event)=>{

                event.preventDefault()

                var formData = new FormData(form)

                fetch('http://localhost:3000/seller/new',
                { // Your POST endpoint
                    method: 'POST',
                    body: formData
                })
                .then(
                    response => {
                        if (response.status==201) {
                            //redirect to login page
                        }
                    }
                ).catch(
                    error => console.log(error) // Handle the error response object
                )
            });
        </script>
    </body>
</html>